* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color:white;
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    object-fit: cover;
height: 50%;
}

.nav {
    
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
}
.nav a{
text-decoration: none;
padding: 0 30px;
font-size: 20px;
color: red;
}
.section-1{
 background-image:url(imagenes/banner.jpg);
    width: 100%;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-1 a{
background-color: red;
padding:20px 40px;
font-size: 20px;
text-decoration:none;
color: white;
}
.section-1 h1{
margin: 20px 0px;
font-size: 52px;
color: white;
}
.section-1 p{
font-size: 20px;
color: white;
}
.section-2{
 background-image:url(imagenes/img4.jpg);
background-position:center;
    width: 100%;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
padding: 0 10%;
}
.section-2 p{
color:white;
font-size: 20px;
text-align: center;
}
.section-3{
 background-color:white;
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.foto {
width: 25%;
height: 80%;
border: 2px solid #8a8a8a;
margin:0 1%;
}
.img{
width: 100%;
height:40%;
overflow: hidden;
}
.img img{
object-fit: cover;
width: 100%;
}
.textos{
width: 100%;
height:60%;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 30px 20px;
}

.textos h3{
font-size: 32px;
}
.textos p{
font-size: 13px;
margin: 10px 0;
}
.textos a{
text-decoration: none;
padding: 10px 20px;
font-size:20px;
border:1px solid red;
}
.footer{
background-color: black;
width:100%;
height: 25vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.logo-pie{
width: 100%;
height: 80%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.logo-pie img {
object-fit: cover;
height: 50%;
}
.textos-pie{
width: 100%;
height: 20%;
flex-direction: row;
justify-content: center;
align-items: center;
border-top: 1px solid #8a8a8a;
}
.piederecho {
width: 100%;
height: 100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
 text-align: center;
}
.piederecho a{
color: white;
text-decoration: none;
font-size: 17px;
margin: 0 7px;
}




